





<div *ngIf="!switch" class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
<h2>Login Page</h2>
<br />
<form [formGroup]="user" (ngSubmit)="onSubmit()">
  <p>
    <label>UserName:</label>
    <input type="text"  formControlName="firstName">
</p>
<p>
    <label>Password:</label>
    <input type="password"  formControlName="password">
</p>
<button type="submit" (click)="onSubmit()" >Submit</button>
</form>
<span style="color:red;" *ngIf="error">Wrong username or password</span>
</div>
<div class="col-md-3"></div>
</div>

</div>




<!-- <div [ngbNavOutlet]="nav"></div> -->
<!-- <app-barchart></app-barchart> -->
<div  *ngIf="switch" class="container">
<router-outlet></router-outlet>
</div>