





<div *ngIf="!switch" class="container">

<form [formGroup]="user" (ngSubmit)="onSubmit()">
  <p>
    <label>First Name:</label>
    <input type="text"  formControlName="firstName">
</p>
<p>
    <label>Password:</label>
    <input type="password"  formControlName="password">
</p>
</form>
<button type="submit" (click)="onSubmit()" >Submit</button>

</div>
<button (click)="Logout()" >Log Out</button>
{{user.value.firstName}}


<!-- <div [ngbNavOutlet]="nav"></div> -->
<!-- <app-barchart></app-barchart> -->
<div  *ngIf="switch" class="container">
<router-outlet></router-outlet>
</div>