<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Table</a>
      <ng-template ngbNavContent>
       <app-table></app-table>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Line Chart</a>
      <ng-template ngbNavContent>
        <app-linechart></app-linechart>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Bar Chart</a>
      <ng-template ngbNavContent>
        <app-bar></app-bar>
      </ng-template>
    </li>
    <button (click)="Logout()" >Log Out</button>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  


<!-- <highcharts-chart 
  [Highcharts]="Highcharts"
 
  [constructorType]="chartConstructor"
  [options]="chartOptions"
  [callbackFunction]="chartCallback"
 
  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"
  [runOutsideAngular]="runOutsideAngularFlag"
 
  style="width: 100%; height: 400px; display: block;"
></highcharts-chart> -->
